<mat-card>
  <mat-card-content>
    <form [formGroup]="formGroup">
      <div class="grid">
        <!-- NAME -->
        <div>Name</div>
        <mat-form-field appearance="outline" class="field">
          <input
            matInput
            placeholder="Enter Name"
            aria-label="Name"
            formControlName="name"
          />
        </mat-form-field>

        <!-- DESCRIPTION -->
        <div>Description</div>
        <mat-form-field appearance="outline" class="field">
          <textarea
            matInput
            aria-label="Description"
            placeholder="Enter Description"
            formControlName="description"
          ></textarea>
        </mat-form-field>

        <!-- PLANNER TYPE -->
        <div>Planner Type</div>
        <mat-form-field appearance="outline" class="field">
          <mat-select
            placeholder="Select planner type"
            formControlName="plannerType"
          >
            @for (type of plannerTypes; track type) {
            <mat-option [value]="type">{{ type }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <!-- EXTERNAL SYSTEM CONFIG -->
        <div>External System Config</div>
        <mat-form-field appearance="outline" class="field">
          <mat-select
            placeholder="Select System Config"
            formControlName="externalSystemConfig"
          >
            @for (type of configTypes; track type) {
            <mat-option [value]="type">{{ type }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <!-- TRIGGERS -->
        <div>Triggers</div>
        <mat-chip-set aria-label="triggers" formGroupName="triggers">
          <mat-checkbox class="example-margin" formControlName="runs">
            Runs
          </mat-checkbox>
          <mat-checkbox class="example-margin" formControlName="sources">
            Sources
          </mat-checkbox>
          <mat-checkbox class="example-margin" formControlName="reports">
            Reports
          </mat-checkbox>
        </mat-chip-set>

        <!-- FUNDS -->
        <div>Funds</div>
        <div formArrayName="funds">
          @if(funds.length > 0) {
          <div class="mini-table">
            <div class="mini-table-row header">
              <div>Name</div>
              <div>Alias</div>
            </div>
            <div
              *ngFor="let control of funds.controls; let i = index"
              class="mini-table-row"
            >
              <ng-container [formGroupName]="i">
                <input placeholder="Select Name" formControlName="name" />
                <input placeholder="No Alias" formControlName="alias" />
                <button
                  mat-icon-button
                  aria-label="delete"
                  (click)="funds.removeAt(i)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </ng-container>
            </div>
          </div>
          }
          <button mat-button (click)="addFund()">
            <mat-icon>add</mat-icon>
            Add Fund
          </button>
        </div>

        <!-- SOURCES -->
        <div>Sources</div>
        <div formArrayName="sources">
          @if(sources.length >0 ) {
          <div class="mini-table">
            <div class="mini-table-row header">
              <div>Name</div>
            </div>
            <ng-container
              *ngFor="let control of sources.controls; let i = index"
            >
              <div class="mini-table-row">
                <input
                  class="span"
                  placeholder="Enter Source Name"
                  [formControlName]="i"
                />
                <button
                  mat-icon-button
                  aria-label="delete"
                  (click)="sources.removeAt(i)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </ng-container>
          </div>
          }
          <button mat-button (click)="addSources()">
            <mat-icon>add</mat-icon>
            Add Sources
          </button>
        </div>

        <!-- RUNS -->
        <div>Runs:</div>
        <div formArrayName="runs">
          @if(runs.length > 0) {
          <div class="mini-table">
            <div class="mini-table-row header">
              <div>Name</div>
            </div>
            <ng-container *ngFor="let control of runs.controls; let i = index">
              <div class="mini-table-row">
                <input
                  placeholder="Enter Run Name"
                  class="span"
                  [formControlName]="i"
                />
                <button
                  mat-icon-button
                  aria-label="delete"
                  (click)="sources.removeAt(i)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </ng-container>
          </div>
          }
          <button mat-button (click)="addRun()">
            <mat-icon>add</mat-icon>
            Add Run
          </button>
        </div>

        <!-- REPORTS -->
        <div>Reports:</div>
        <div formArrayName="reports">
          @if(reports.length) {
          <div class="mini-table">
            <div class="mini-table-row header">
              <div>Type</div>
              <div>Name</div>
            </div>
            <ng-container *ngFor="let x of reports.controls; let i = index">
              <div class="mini-table-row-flex" [formGroupName]="i">
                <mat-form-field appearance="outline" class="row-field">
                  <mat-select formControlName="type">
                    @for (food of []; track food) {
                    <mat-option>z</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="row-field">
                  <mat-select formControlName="name">
                    @for (food of []; track food) {
                    <mat-option> aaa</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
                <div>
                  <button
                    mat-icon-button
                    aria-label="delete"
                    (click)="reports.removeAt(i)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            </ng-container>
          </div>
          }

          <button mat-button (click)="addReport()">
            <mat-icon>add</mat-icon>
            Add Report
          </button>
        </div>
      </div>
    </form>

    <!-- FOOTER -->
    <mat-card-footer class="footer-actions">
      <button mat-button (click)="createSetup()">
        <mat-icon>save</mat-icon>
        Create Setup
      </button>
    </mat-card-footer>
  </mat-card-content>
</mat-card>
