:host{
    display: block;
    margin-left: 1em;
}

.container{
    padding: 4px 56px 4px 8px;
    background: #eaf1fb;
    border-radius: 32px;
    display: flex;
    align-items: center;

    input {
        font-size: 1.1rem;
        outline: none;
        border: none;
        background: inherit;
        min-width: 300px;
    }
}