:host{
    display: block;
    margin-top: 1em;
}

.paginator{
    background-color: white;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    row-gap: 1em;
}

.mini-table {
    border: 1px solid #c7c7c7;
    border-radius: 16px;
    padding: 1em;
    .mini-table-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-bottom: 0.5px solid #c7c7c7;
        &.header{
            color:grey;
            font-size: 0.8em;
            font-weight: bold;
        }
    }
}